body {
    width: 300px;
}

h1 {
    text-align: center;
}

.todo-items,
.todo-items li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-items li {
    padding: 10px;
    border-bottom: 2px solid gray;
    display: flex;
    justify-content: space-between;
}

.todo-items li:hover {
    background:rgba(0, 0, 0, 0.25);
}

.todo-items li.done {
    text-decoration: line-through;
}